@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input[type="text"],
input[type="password"],
input[type="button"],
textarea,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
main,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

img {
  border: none;
}

ul,
ol,
li {
  list-style-type: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
}

legend {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
textarea {
  outline: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/header/9d82128d16e7ed2fbeb2c8c3a82e6ffc.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header/9d82128d16e7ed2fbeb2c8c3a82e6ffc.jpg);
  background-size: cover;
  background-position: center bottom;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}

.header-container.wrapper {
  margin-top: 26px;
  width: 100%;
}

.header-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-container-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-container-top__logo img:first-of-type {
  margin-right: 10.65px;
}

.header-container-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 610px;
  flex-basis: 610px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.header-container-top__info-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 206px;
}

.header-container-top__info-services img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-container-top__info-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container-top__info-phone img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-container-top__info-action {
  width: 211px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 12px;
  background: linear-gradient(290deg, #E30B0B 20%, #C40B0B 20%);
}

.header-container-top__info-action img {
  width: 16px;
  height: 16px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: white;
  color: #02133C;
  padding: 14.5px 40px;
}

.header-bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom-nav .fa {
  font-size: 20px;
}

.header-bottom-nav a {
  color: #02133C;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom-nav a img {
  width: 16px;
  height: 16px;
}

.header-bottom-nav a:nth-of-type(n + 1) {
  margin-right: 3.62%;
}

.header-bottom-nav a.icon {
  display: none;
}

.header-bottom-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom-actions form {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 22px;
}

.header-bottom-actions form input {
  display: none;
}

.header-bottom-actions form button {
  width: 24px;
  height: 24px;
  background: url(../img/header/search_24px.svg) no-repeat;
  background-position: center center;
  border: none;
  outline: none;
}

.header-bottom-actions a {
  margin-right: 8px;
  position: relative;
  height: 20px;
}

.header-bottom-actions a img {
  width: 20px;
  height: 20px;
}

.header-bottom-actions a span {
  width: 16px;
  height: 16px;
  background-color: #c40b0b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.header-info {
  margin-top: 126px;
  margin-bottom: 312px;
  max-width: 583px;
}

.header-info p {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.header-info__action {
  width: 211px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 12px;
  background: linear-gradient(290deg, #E30B0B 20%, #C40B0B 20%);
  margin-top: 48px;
}

.header-info__action img {
  width: 16px;
  height: 16px;
}

.about {
  line-height: 100%;
  color: #4B4B4B;
  padding: 100px 6.08% 354px;
  position: relative;
  top: -100px;
  background: url(../img/about/Gears.png) no-repeat;
  background-color: white;
  background-position: top right;
}

.about h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-top: 33px;
}

.about p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  line-height: 150%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;
}

.about-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 846px;
  position: absolute;
  bottom: -120px;
  left: 8.53%;
}

.about-img img {
  width: 100%;
}

.promise.wrapper {
  margin-top: 120px;
  color: #4B4B4B;
}

.promise.wrapper h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-top: 33px;
  margin-bottom: 68px;
}

.promise.wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  line-height: 150%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;
}

.promise-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promise-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.promise-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promise-feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-preferred-size: calc((100% - 48px)/3);
  flex-basis: calc((100% - 48px)/3);
  text-align: justify;
}

.promise-feature-item img {
  margin-right: 23px;
}

.video {
  margin-top: 122px;
  position: relative;
}

.video > video {
  -o-object-fit: cover;
  object-fit: cover;
}

.video-info {
  position: absolute;
  max-width: 414px;
  top: 22.4%;
  left: 56.88%;
}

.video-info h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.video-info .video-info-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, white 42.78px, rgba(255, 255, 255, 0.2) 42.78px, rgba(255, 255, 255, 0.2) 55.35px, rgba(255, 255, 255, 0.12) 55.36px, rgba(255, 255, 255, 0.12) 68.28px);
}

.video-info .video-info-play__button {
  position: relative;
  width: 22px;
  height: 28px;
}

.video-info .video-info-play__button::after {
  content: '';
  position: absolute;
  border: 14px solid transparent;
  /* Прозрачные границы */
  border-left: 14px solid red;
  left: 7px;
}

.services.wrapper {
  margin-top: 120px;
  color: #4B4B4B;
  padding-bottom: 122px;
  position: relative;
}

.services.wrapper .services-background {
  position: absolute;
  z-index: -1;
  left: -20.5866%;
  top: -120px;
}

.services.wrapper .services-background2 {
  position: absolute;
  z-index: -1;
  right: -20.5866%;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.services.wrapper h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-top: 33px;
  margin-bottom: 68px;
}

.services.wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  line-height: 150%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;
}

.services-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-container-item {
  -ms-flex-preferred-size: calc((100% - 48px)/3);
  flex-basis: calc((100% - 48px)/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 50px 43px;
  background-color: white;
  margin-bottom: 24px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.services-container-item h6 {
  margin-top: 33px;
}

.services-container-item:hover {
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.services-button {
  width: 211px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 12px;
  background: linear-gradient(290deg, #E30B0B 20%, #C40B0B 20%);
  width: 145px;
  background: linear-gradient(290deg, #E30B0B 30%, #C40B0B 30%);
  margin-left: auto;
  margin-right: auto;
}

.services-button img {
  width: 16px;
  height: 16px;
}

.appointment {
  background: url(../img/appointment/Gears.png) top right no-repeat, url(../img/appointment/Gears2.png) 0% calc(100% - 80px) no-repeat;
  background-color: #02133C;
  padding: 0 14.5833%;
  padding-top: 130px;
  padding-bottom: 14.5833%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.appointment-form {
  -ms-flex-preferred-size: 585px;
  flex-basis: 585px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background: white;
  padding: 76px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.appointment-form h3 {
  text-align: center;
  margin-bottom: 43px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.appointment-form input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #F5F5F5;
  color: #959595;
  border: none;
  outline: none;
  -ms-flex-preferred-size: calc((100% - 22px) / 2);
  flex-basis: calc((100% - 22px) / 2);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.15px;
  padding: 8px 20px;
}

.appointment-form textarea {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.15px;
  padding: 8px 20px;
  background: #F5F5F5;
  color: #959595;
}

.appointment-form .appointment-button {
  display: block;
  width: 211px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 12px;
  background: linear-gradient(290deg, #E30B0B 20%, #C40B0B 20%);
  color: white;
  margin-left: auto;
  margin-bottom: 0;
}

.appointment-form .appointment-button img {
  width: 16px;
  height: 16px;
}

.appointment-info {
  -ms-flex-preferred-size: 326px;
  flex-basis: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.appointment-info h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 46px;
}

.appointment-info span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
  color: #c40b0b;
  text-align: center;
}

.appointment-info h6 {
  margin-top: 46px;
  color: white;
  text-align: center;
}

.gallery {
  margin-top: -110px;
  background: url(../img/gallery/Gears.png) 0% 100% no-repeat;
  padding-bottom: 236px;
}

.gallery .wrapper {
  background-color: white;
  padding: 100px 8.53% 1px;
}

.gallery h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-top: 33px;
  margin-bottom: 55px;
}

.gallery p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  line-height: 150%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;
}

.gallery .gallery-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4B4B4B;
}

.gallery .gallery-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.gallery .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 50px;
}

.gallery .gallery-list li {
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery .gallery-list li:nth-of-type(1) {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery .gallery-list .active {
  position: relative;
}

.gallery .gallery-list .active a {
  color: #c40b0b;
}

.gallery .gallery-list .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  background-color: #c40b0b;
}

.gallery .gallery-list a {
  color: #02133C;
}

.gallery .gallery-list__circle {
  width: 6px;
  height: 6px;
  border: 3px solid green;
  border-radius: 50%;
}

.wrapper > img {
  margin-bottom: -100px;
  width: 100%;
}

.customers {
  color: #4B4B4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 210px;
}

.customers h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-top: 33px;
  margin-bottom: 68px;
}

.customers p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 150%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.15px;
}

.customers .customers-item-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customers .customers-item-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.customers .customers-item {
  -ms-flex-preferred-size: calc((100% - 48px)/3);
  flex-basis: calc((100% - 48px)/3);
}

.customers .customers-item:nth-of-type(n+2) {
  padding: 50px 43px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.customers .customers-item:nth-of-type(n+2) p {
  margin-bottom: 40px;
}

.customers .customers-item__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
}

.customers .customers-item__element img {
  margin-right: 17px;
}

.customers .customers-item__element span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
  /* /Car Repair/Secondary */
  color: #02133C;
}

.impact {
  background-color: #02133C;
}

.impact h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-top: 33px;
}

.impact .impact-tittle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #959595;
}

.impact .impact-tittle img:last-of-type {
  position: relative;
  left: -15px;
}

.impact .impact-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: -80px;
  margin-bottom: 79px;
}

.impact .impact-container1-item1 {
  -ms-flex-preferred-size: 40.7%;
  flex-basis: 40.7%;
  margin-top: auto;
}

.impact .impact-container1-item2 {
  -ms-flex-preferred-size: 48.82%;
  flex-basis: 48.82%;
  background: url(../img/impact/Image.png) bottom center no-repeat;
  min-height: 315px;
}

.impact .impact-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.impact .impact-container2 .impact-container2-item {
  -ms-flex-preferred-size: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.impact .impact-container2 .impact-container2-item .impact-container2-item__info h3 {
  margin-top: 0;
  color: #c40b0b;
}

.impact .impact-container2 .impact-container2-item img {
  margin-right: 11px;
}

.impact .impact-container3 {
  background-color: white;
  margin-top: 59px;
  padding: 43px 70px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.impact .impact-container3 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #02133C;
}

.impact .impact-container3 .impact-container3-button {
  width: 211px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 12px;
  background: linear-gradient(290deg, #E30B0B 20%, #C40B0B 20%);
  margin-left: 101px;
}

.impact .impact-container3 .impact-container3-button img {
  width: 16px;
  height: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: white;
  background-color: #F5F5F5;
}

.wrapper {
  margin: 0 14.5833%;
}

a {
  text-decoration: none;
  color: white;
}

h6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133C;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
}

@media (max-width: 1280px) {
  .appointment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .header-container-top__logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 26px;
  }

  .header-container-top__info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 1140px) {
  .video-info {
    top: 10%;
  }
}

@media (max-width: 1024px) {
  .services-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .services-container-item {
    -ms-flex-preferred-size: calc((100% - 48px)/2);
    flex-basis: calc((100% - 48px)/2);
  }
}

@media (max-width: 960px) {
  .promise-feature-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .promise-feature {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .video-info {
    top: 10%;
    left: 10%;
    max-width: 100%;
  }
}

@media screen and (max-width: 860px) {
  #myTopnav > a:nth-child(n + 3) {
    display: none;
  }

  .header-bottom-nav.responsive a {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  a.icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: 10px !important;
  }

  .header-bottom-nav.responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .video-info {
    display: none;
  }

  .appointment-form {
    margin-bottom: 50px;
  }

  .appointment-form input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 780px) {
  .header-container-top__info-phone {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-container-top__info-action {
    margin: 26px auto 0;
  }

  .header-info {
    margin-top: 76px;
  }
}

@media (max-width: 640px) {
  .services-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .services-container-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-container-top__info-phone {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .header-info {
    margin-top: 56px;
  }
}

@media (max-width: 480px) {
  .appointment-form {
    padding: 15px 5px;
  }
}

@media screen and (max-width: 400px) {
  .header-bottom {
    padding: 14.5px 15px;
  }

  .header-info p {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }
}